body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFEApfUVgiZHQTOAvo_iNcgb1ovt_2yS0C8Zy-ViQm_xfZ_DUhKg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}
